
.flexigrid {
  direction:rtl;  
}

.twitter-bootstrap {
  direction:rtl;  
}

.text-left {
  text-align:right;
}

.form-display-as-box {
  float:right;
  direction:rtl;
}

.chzn-single{
  direction:ltr;
}

#groceryCrudTable{
  direction:rtl;
}

.DTTT_container.ui-buttonset {
  float: left;
}

.floatL {
  float: right;
}

.fileinput-button {
	float: right;
}