/*-----------------------------------------------------------------------------------*/
/* GENERAL
/*-----------------------------------------------------------------------------------*/
body {
	color:#8c97b2;
	background:#ebeff2;
	padding-bottom:20px;
	font-family:'Droid Arabic Kufi',Helvetica,sans-serif
}

h1,h2,h3,h4,h5,h6 {
	color:#444c63
}

.dropdown-menu, input, .form-control {
	box-shadow: none!important;
}

.btn-default,.dropdown-menu > li > a {
	color:#8c97b2
}

a:hover {
	text-decoration:none
}

.navbar {
	border:0
}

.btn {
	outline:none!important
}

.navbar, .btn {
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease
}

.col-centered {
	float:none;
	margin:0 auto
}

::selection {
	background:#f2795a;
	color:#fff
}

.red {
	color:#f2795a;
	border-color:#f2795a
}

.pink {
	color:#e64c66;
	border-color:#e64c66
}

.blue {
	color:#15a4fa;
	border-color:#15a4fa
}

.yellow {
	color:#ffab00;
	border-color:#ffab00
}

.green {
	color:#9AE14F;
	border-color:#9AE14F
}

.purple {
	color:#7874cf;
	border-color:#7874cf
}

.ball.red {
	border-color:#f2795a
}

.ball.pink {
	border-color:#e64c66
}

.ball.blue {
	border-color:#15a4fa
}

.ball.yellow {
	border-color:#ffab00
}

.ball.green {
	border-color:#9AE14F
}

.ball.purple {
	border-color:#7874cf
}


/*-----------------------------------------------------------------------------------*/
/* FORMS
/*-----------------------------------------------------------------------------------*/
.form-control {
	border:2px solid #d2d8d8;
	height:auto;
	line-height:1.8;
	padding:9px 14px;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease
}

.form-group .btn-group {
	display: block;
}

.form-group button.multiselect {
	border:2px solid #d2d8d8;
	color: #8c97b2;
	height: 49px;
	width: 100%;
	text-align: right;
	margin: 0;
	margin-bottom: 5px;
	box-shadow: none!important
}

.form-group .btn-group.open button.multiselect,
.form-group .btn-group.open button.multiselect:active,
.form-group .btn-group.open button.multiselect:hover {
	border-color:#15a4fa;
	background: #fff;
	color: #8c97b2;
}

.form-group:not(.has-error) .btn-group button.multiselect:hover {
	background: #fff;
	border-color:#d2d8d8;
} 

.form-group .btn-group .caret {
	position: absolute;
	left: 5px;
	color: #000;
	top: 19px;
}

.form-group .multiselect-container {
	width: 100%;
	top: 49px;
}

.form-group .multiselect-container li a {
	color: #8c97b2;
	padding: 4px;
}

.form-group .multiselect-container li a:hover,
.form-group .multiselect-container li a:active,
.form-group .multiselect-container li.active a {
	color: #fff;
	background: #f2795a;
}

select.form-control {
	padding: 8px 14px;
}

.form-group {
	margin-bottom:22px
}

.form-control:focus, .form-control:active {
	border-color:#15a4fa;
}

input:focus, input:active, .form-control:focus, .form-control:active {
	-webkit-box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 1)!important;
	-moz-box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 1)!important;
	box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 1)!important;
}

textarea {
	resize: none;
}

.dropzone {
	border:3px dashed #d2d8d8!important;
	border-radius:4px!important;
	background: rgba(255, 255, 255, 0.6)!important;
	text-align:center;
	color:#d2d8d8;
	cursor:pointer;
	-webkit-transition:all .15s ease;
	-moz-transition:all .15s ease;
	-o-transition:all .15s ease;
	transition:all .15s ease
}

.dropzone img {
	width: 35%;
	opacity: 0.4;
}

.dropzone:active {
	border-color: #15a4fa;
}

.btn.wide-btn {
	color:#fff;
	padding:15px;
	width:100%;
	font-weight:700
}

.left-addon .glyphicon {
	left:0
}

.right-addon .glyphicon {
	right:0
}

.left-addon input {
	padding-left:44px
}

.right-addon input {
	padding-right:44px
}

.inner-addon {
	position:relative
}

.inner-addon .glyphicon {
	position:absolute;
	padding:16px;
	pointer-events:none
}

.inner-addon .form-control {
	padding-right: 44px;
	padding-left: 14px
}

.inner-addon .form-control:focus, .inner-addon .form-control:active {
	padding-right: 14px;
	padding-left: 14px
}

.multiselect-field .has-error button {
	border-color: #DF7459;
}

/*-----------------------------------------------------------------------------------*/
/* Navigation
/*-----------------------------------------------------------------------------------*/
.navbar-fixed-top {
	right: 0px;
	z-index: 1070
}

#wrapper.toggled .navbar-fixed-top {
	right: 230px;
	overflow: hidden;
	max-height: 60px;
}

.scrollable-menu {
	height: auto;
	max-height: 200px;
	overflow-x: hidden;
}

.dropdown-actions {
	position: absolute;
	left: 0;
	-webkit-transition:all .4s ease;
	-moz-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease
}

.dropdown-actions .dropdown {
	padding:0 24px;
	line-height:60px;
	background:#15a4fa;
	color:#fff;
	cursor:pointer;
	float: left;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease
}

.dropdown-actions .dropdown .dropdown-menu {
	min-width: 141px;
}

.dropdown-actions .dropdown.volume-actions {
	background: #fff;
	border-right: 1px solid #F1F1F1;
	color: #8c97b2;
}

.dropdown-actions .dropdown.volume-actions:hover,
.dropdown-actions .dropdown.volume-actions:active {
	color: #B6BECF;
}

.dropdown-actions .dropdown.user-actions:hover,
.dropdown-actions .dropdown.user-actions:active {
	background-color:#1291dd
}

.dropdown-actions .dropdown.user-actions .dropdown-title {
	max-width: 95px;
}

.dropdown-actions .dropdown .avatar {
	width:35px;
	height:35px;
	margin-right:8px;
	border-radius:100px;
	border:2px solid #fff;
	background: #fff
}

.dropdown-actions .dropdown .dropdown-title {
	float:right;
	font-weight:700;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}

.dropdown-actions .dropdown .glyphicon {
	margin-left:8px
}

.navbar-toggle {
	margin-right:15px
}

.dropdown-menu {
	margin-top: 6px;
	right: auto;
	left: 0;
	float: left;
/*	border-radius: 0;
	padding: 0;
	border-top: 0;*/
}

.dropdown-menu > li > a {
	padding: 10px 20px;
}

.dropdown-menu > li.divider {
	margin: 0;
}

/*-----------------------------------------------------------------------------------*/
/* LOGIN FORM
/*-----------------------------------------------------------------------------------*/
body.open {
	overflow: hidden;
}

.backdrop {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1040;
	background-color: rgb(52, 54, 66);
	opacity:0;
	visibility:hidden;
	z-index:2000;
	-webkit-transition:all .4s ease;
	-moz-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease
}

.backdrop.open {
	visibility:visible;
	opacity:.75
}

.login-form {
	position:fixed;
	top:0;
	left:0;
	right:0;
	margin:auto;
	margin-top:100px;
	background:#fff;
	padding:0;
	overflow:hidden;
	border-radius:5px;
	opacity:0;
	z-index:2001;
	-webkit-transition:all .4s ease;
	-moz-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
	-webkit-transform:translateY(-700px);
	-moz-transform:translateY(-700px);
	-ms-transform:translateY(-700px);
	-o-transform:translateY(-700px);
	transform:translateY(-700px)
}

.login-page {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.login-form.open-modal, .login-page .login-form {
	-webkit-transform:translateY(0px);
	-moz-transform:translateY(0px);
	-ms-transform:translateY(0px);
	-o-transform:translateY(0px);
	transform:translateY(0px);
	opacity:1
}

.login-form .login-header {
	margin:0;
	padding:0;
	line-height:65px;
	text-align:center;
	background:#E7E7E7;
	color:#929292;
	cursor:pointer;
	font-weight:600
}

.login-form .login-header .selected {
	background:#fff
}

.login-form .form {
	padding:22px
}

.login-form .glyphicon {
	color:#d2d8d8
}

.social-buttons  {
	margin-bottom: 22px;
}

.social-buttons > div:first-child {
	padding-left: 0;
}

.social-buttons > div:first-child .btn {
	border-radius: 0 4px 4px 0;
}

.social-buttons > div:last-child {
	padding-right: 0;
}

.social-buttons > div:last-child .btn {
	border-radius: 4px 0 0 4px;
}

.btn-facebook {
	background: #3b5998;
}

.btn-twitter {
	background: #55ACEE;
}

/*-----------------------------------------------------------------------------------*/
/* SIDEBAR
/*-----------------------------------------------------------------------------------*/
#wrapper {
	padding-right:0;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease
}

#wrapper.toggled {
	padding-right:230px
}

#sidebar-wrapper {
	z-index:1040;
	position:fixed;
	top:0;
	right:230px;
	width:0;
	height:100%;
	margin-right:-230px;
	overflow:hidden;
	background:#1f2637;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease
}

#wrapper.toggled #sidebar-wrapper {
	width:230px
}

#page-content-wrapper {
	width:100%
}

#wrapper.toggled #page-content-wrapper {
	position:absolute
}

#wrapper.toggled .navbar {
	right:230px
}

.sidebar-nav {
	position:absolute;
	top:60px;
	width:230px;
	margin:0;
	padding:0;
	list-style:none
}

.sidebar-nav ul {
	margin:0;
	padding:0;
	list-style:none
}

.sidebar-nav .sub-list li a{
	font-size: 12px;
	padding: 0 34px 0 20px!important;
}

.sidebar-nav .sub-list li a:hover {
	background: #1783C4!important;
}

.sidebar-nav li {
	line-height:40px
}

.sidebar-nav li a:not(.btn) {
	display:block;
	color:#78829d;
	padding:0 20px;
	text-decoration:none;
	-webkit-transition:all .16s ease;
	-moz-transition:all .16s ease;
	-o-transition:all .16s ease;
	transition:all .16s ease
}

.sidebar-nav li > a:not(.btn):hover, .sidebar-nav li.active > a {
	text-decoration:none;
	color:#fff;
	background:#15a4fa
}

.sidebar-nav li a:active,.sidebar-nav li a:focus {
	text-decoration:none
}

.sidebar-nav .sidebar-brand {
	color:#fff;
	height:60px;
	line-height:60px;
	font-size:27px;
	text-align:center;
	position: fixed;
	top: 0;
	right: 0;
	width:230px;
	background:#fff;
	z-index: 10
}

.sidebar-nav .sidebar-brand img {
	vertical-align: baseline;
}

.sidebar-nav .sidebar-button {
	text-align:center;
	padding:10px 0
}

.sidebar-nav .phone-number {
	padding-top: 16px;
	padding-bottom: 0;
	font-size: 22px;
	font-weight: lighter;
	color: #fafafa;
}

.sidebar-nav .phone-number i {
	font-size: 18px
}

.sidebar-nav .sidebar-buttons {
	padding: 16px 0;
}

.sidebar-nav .sidebar-button .btn {
	width:80%
}

.stores-buttons {
	margin: auto;
	padding-top: 16px;
	width: 60%;
}

.stores-buttons a {
	padding: 0;
	text-align: center;
}

.stores-buttons a:last-child {
	padding-right: 10px;
}

.stores-buttons a:first-child {
	padding-left: 10px;
}

.stores-buttons a img {
	width: 100%
}

.sidebar-nav .sidebar-brand a {
	color:#78829d
}

.sidebar-nav .sidebar-brand a:hover {
	color:#fff;
	background:none!important
}

#sidebar-wrapper .separator {
	width:100%;
	height:6px;
	background:#19202e;
	border-top:1px solid #141824;
	border-bottom:1px solid #282f41
}

#sidebar-wrapper .sub-categories a {
	padding-right:42px;
	padding-left: 10px;
	font-size: 13px;
	font-style: italic;
	color: #5D698B;
}

#sidebar-wrapper .sub-categories a:hover,
#sidebar-wrapper .sub-categories li.active > a {
	color: #78829d;
	background: #262F44
}

.sidebar-nav li span {
	float:right;
	margin-top:12px;
	margin-left:12px
}

.sidebar-nav li .ball {
	border-width:3px;
	border-style:solid;
	border-radius:100px;
	margin:16px 8px 0 8px
}

#sidebar-wrapper .sidebar-footer {
	text-align: center;
	padding: 15px 25px 10px 25px;
	margin-top: 10px;
}

#sidebar-wrapper .sidebar-footer li {
	font-size: 12px;
	line-height: 1.5;
	color: #49536B;
}


@media(min-width:768px) {
	#wrapper {
		padding-right:230px
	}

	#wrapper.toggled {
		padding-right:0
	}

	.navbar-fixed-top {
		right: 230px
	}

	#sidebar-wrapper {
		width:230px
	}

	#wrapper.toggled #sidebar-wrapper {
		width:0
	}

	#wrapper.toggled #page-content-wrapper {
		position:relative;
		margin-right:0
	}
}

@media (max-width : 480px) {
	#wrapper.toggled .navbar .dropdown-actions {
		left: -350px
	}
}

/*-----------------------------------------------------------------------------------*/
/* Main Container
/*-----------------------------------------------------------------------------------*/
#page-content-wrapper > .container-fluid {
	margin-top:60px
}

#page-content-wrapper .separator {
	height:2px;
	background:#f5f6fa;
	border-top:1px solid #dae0e8
}

.container-fluid {
	padding-left:44px;
	padding-right:44px
}

/*-----------------------------------------------------------------------------------*/
/* Filter & Search
/*-----------------------------------------------------------------------------------*/
.filter-header .separator {
	margin-left:-44px;
	margin-right:-44px
}

.filter-header .category-title {
	margin:20px 0 18px
}

.tags {
	padding-right:0;
	margin:7px 0
}

.tags .tag:first-child {
	margin-right:0
}

.tag {
	cursor:pointer;
	text-align:center;
	line-height:1;
	color:#8c97b2;
	border-radius:16px;
	padding:0 10px;
	/*margin:0 4px;*/
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease
}

.tag:hover,.tag:active {
	color:#97b3ce
}

.tag.selected {
	background:#97b3ce;
	color:#fff
}

.tag.selected:hover,.tag.selected:active {
	background:#8c97b2
}

.filter-header .row {
	margin:8px 0
}

.searchbar {
	padding-left:0;
}

.searchbar .navbar-form {
	margin:0;
	padding:0
}

.searchbar .input-group input,
.searchbar .input-group .form-control {
	height: 34px;
	line-height:34px;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-bottom-right-radius:20px!important;
	border-top-right-radius:20px!important;
}

.searchbar .input-group button {
	border-right:0;
	border-bottom-left-radius:20px!important;
	border-top-left-radius:20px!important
}

/*-----------------------------------------------------------------------------------*/
/* Ads Cards
/*-----------------------------------------------------------------------------------*/
.margin-top {
	margin-top:40px;
	margin-bottom:30px
}

.ad-carousel.carousel {
	border: none;
	height: auto;
}

.ad-carousel .carousel-inner {
	top: 0%;
	-webkit-transform: translateY(0%); 
	-ms-transform: translateY(0%);
	transform: translateY(0%); 
}

.ad-carousel .carousel-inner > .item {
	border: none;
	height: auto;
}

.ad-element {
	color:#999;
	background:#fff;
	border-radius:10px;
	border:1px solid #ececed;
	border-bottom:3px solid #dde0e5;
	margin-bottom:24px;
	/*overflow:hidden*/
}

.ad-element a {
	color:#999
}

.ad-element a:hover {
	color:#404a54
}

#page-content-wrapper .ad-element .separator {
	margin:0 20px;
	background:#f6f6f6;
	border-top:1px solid #f1f1f1
}

.ad-element .ad-photo {
	width:100%;
	height:210px;
	background-size:cover;
	background-position:center center;
	border-bottom:1px solid #f5f5f5;
	cursor:pointer;
	overflow:hidden;
	position:relative;
	text-align:center;
	border-top-left-radius:10px;
	border-top-right-radius:10px
}

.ad-element .ad-photo .overlay {
	z-index:1;
	top:0;
	left:0;
	opacity:0;
	width:100%;
	height:100%;
	line-height:225px;
	position:absolute;
	text-align:center;
	background:#f2795a;
	background:rgba(242,121,90,0.0);
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	-webkit-transition:all .33s ease;
	-moz-transition:all .33s ease;
	-o-transition:all .33s ease;
	transition:all .33s ease
}

.ad-element .ad-photo .overlay .glyphicon {
	color:#fff;
	font-size:38px
}

.ad-element .ad-photo:hover .overlay {
	opacity:1;
	background:rgba(242,121,90,0.6)
}

.ad-element .ad-details {
	padding:10px 20px
}

.ad-element .ad-price {
	color:#34d593;
	font-weight:700;
	letter-spacing:-1px;
	font-size:16px;
	line-height:41px;
	text-align:left
}

.ad-element .ad-title {
	color:#404a54;
	font-size:15px;
	font-weight:700
}

.ad-element .ad-title:hover {
	opacity:.8
}

.ad-element .ad-owner {
	color:#cacaca
}

.ad-element .glyphicon {
	margin-left:8px
}

/*-----------------------------------------------------------------------------------*/
/* Spinner
/*-----------------------------------------------------------------------------------*/
.spinner {
	margin:100px auto 0;
	width:70px;
	text-align:center
}

.spinner > div {
	width:18px;
	height:18px;
	background-color:#c4c6c7;
	border-radius:100%;
	display:inline-block;
	-webkit-animation:bouncedelay 1.4s infinite ease-in-out;
	animation:bouncedelay 1.4s infinite ease-in-out;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both
}

.spinner .bounce1 {
	-webkit-animation-delay:-.32s;
	animation-delay:-.32s
}

.spinner .bounce2 {
	-webkit-animation-delay:-.16s;
	animation-delay:-.16s
}

@-webkit-keyframes bouncedelay {
	0%,80%,100% {
		-webkit-transform:scale(0.0)
	}

	40% {
		-webkit-transform:scale(1.0)
	}
}

@keyframes bouncedelay {
	0%,80%,100% {
		transform:scale(0.0);
		-webkit-transform:scale(0.0)
	}

	40% {
		transform:scale(1.0);
		-webkit-transform:scale(1.0)
	}
}


/*-----------------------------------------------------------------------------------*/
/* Ads Form
/*-----------------------------------------------------------------------------------*/
.AdForm {
	margin-top: 34px;
}

.AdForm .form-group {
	margin-bottom:17px
}

.AdForm .btn {
	margin-top: 10px;
}

.dz-hidden-input {
	display: none!important;
}

.notification-update {
	padding: 35px 0;
}

/*-----------------------------------------------------------------------------------*/
/* AdView
/*-----------------------------------------------------------------------------------*/
.AdView .ad-photos {
	text-align: center;
}

.AdView .ad-photo {
	width:100%;
	height:340px;
	background-size:cover;
	background-position:center center;
	cursor:pointer;
	overflow:hidden;
	position:relative;
	text-align:center;
	border-radius: 6px;
	border-bottom:3px solid #dde0e5;
}

.AdView .ad-info {
	background: #fff;
	border-radius: 6px;
	padding: 24px;
	min-height:340px;
	border:1px solid #ececed;
	border-bottom:3px solid #dde0e5;
}

.AdView .ad-title {
	padding-top: 0;
	padding-bottom: 24px;
	margin-bottom: 20px;
	border-bottom: 1px solid #F1F1F1;
}

.AdView .ad-title h3 {
	font-weight: 700; 
	margin: 0;
	margin-bottom: 8px;
}

.AdView .info-title {
	font-weight: 700;
	margin-bottom: 0;
}

.AdView .info-content {
	margin-bottom: 28px;
}

.AdView .like-ad {
	color: #B4BBC1;
	cursor: pointer;
	direction: ltr;
	height: 40px;
	text-align: center;
	line-height: 38px;
	font-size: 16px;
	float: left;
	border: 2px solid #B4BBC1;
	border-radius: 10px;
	padding: 0 10px;
	margin-top: 6px;

	-webkit-transition:all .33s ease;
	-moz-transition:all .33s ease;
	-o-transition:all .33s ease;
	transition:all .33s ease
}

.AdView .like-ad i {
	font-size: 18px;
	padding-right: 5px
}

.AdView .like-ad:hover,
.AdView .like-ad:active,
.AdView .like-ad.liked {
	color: #15a4fa;
	border-color: #15a4fa;
}

.edit-ad #edit-link {
	margin-left: 10px;
}

.circle-icon {
	width: 32px;
	height: 31px;
	text-align: center;
	line-height: 28px;
	border: 2px solid #8c97b2;
	border-radius: 100px;
	font-size: 14px;
	color: #8c97b2;
	cursor: pointer;
	display: block;
	float: left;
}

.circle-icon:hover {
	color: #f2795a;
	border-color: #f2795a;
}

.circle-icon.lrg {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 38px;
	font-size: 18px;
}

.adplaceholder {
	width: 100%;
	/*line-height: 340px;
	min-height: 340px;*/
	text-align: center;
	font-size: 22px;
	color: #B4CADA;
	background: #F0F4F7;
	border-radius: 4px;
	border-bottom:3px solid #dde0e5;
}
.adplaceholder img {	
	width: 100%
}


/*-----------------------------------------------------------------------------------*/
/* Tooltips
/*-----------------------------------------------------------------------------------*/
.tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	visibility: visible;
	font-size: 12px;
	line-height: 1.4;
	opacity: 0;
	filter: alpha(opacity=0);
}

.tooltip.in {
	opacity: 0.9;
	filter: alpha(opacity=90);
}

.tooltip.top {
	margin-top: -3px;
	padding: 5px 0;
}

.tooltip.right {
	margin-left: 3px;
	padding: 0 5px;
}

.tooltip.bottom {
	margin-top: 3px;
	padding: 5px 0;
}

.tooltip.left {
	margin-left: -3px;
	padding: 0 5px;
}

.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: #1f2637;
	border-radius: 4px;
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #1f2637;
}

.tooltip.top-left .tooltip-arrow {
	bottom: 0;
	left: 5px;
	border-width: 5px 5px 0;
	border-top-color: #1f2637;
}

.tooltip.top-right .tooltip-arrow {
	bottom: 0;
	right: 5px;
	border-width: 5px 5px 0;
	border-top-color: #1f2637;
}

.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #1f2637;
}

.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #1f2637;
}

.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #1f2637;
}

.tooltip.bottom-left .tooltip-arrow {
	top: 0;
	left: 5px;
	border-width: 0 5px 5px;
	border-bottom-color: #1f2637;
}

.tooltip.bottom-right .tooltip-arrow {
	top: 0;
	right: 5px;
	border-width: 0 5px 5px;
	border-bottom-color: #1f2637;
}

/*disable cursor zoom in fixed ads*/

.adplaceholder img{
	cursor: auto!important;
}


/*disable cursor zoom in fixed ads*/