
#dropzone{
  border:3px dashed #d2d8d8;
  border-radius:4px;
  text-align:center;
  color:#d2d8d8;
  cursor:pointer;
  height: 120px;
  line-height: 120px;
  overflow: hidden;
  -webkit-transition:all .15s ease;
  -moz-transition:all .15s ease;
  -o-transition:all .15s ease;
  transition:all .15s ease
}

#dropzone:active, #dropzone.hover {
  border-color: #15a4fa;
}

#dropzone.dropped {
  background: #F5F5F5;
}

#dropzone div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#dropzone img {
  border-radius: 4px;
  vertical-align: middle;
  max-width: 90%;
  max-height: 90%;
}

#dropzone [type="file"] {
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
}